fire
geomloss
pykeops
h5py
corner
nflows
sbi
dill
multiprocess
fsps
speclite

git+https://github.com/aliutkus/torchinterp1d.git
git+https://github.com/bd-j/sedpy.git

sphinx-autodoc-typehints
sphinx_rtd_theme
myst-nb
sphinx_remove_toctrees
sphinx_copybutton
sphinx-book-theme